
           <div class="jumbotron" style="padding-bottom:0px;">
            <center><h2>Iniciar Sesion</h2></center>
        </div>
        <center>
<form class="form-horizontal col-lg-4" name="signinForm" role="form">
     <div class="form-group" >
      <label>Email</label>
          <input type="email" name="email" class="form-control" ng-model="log.email">
    </div>
       <div class="form-group" >
        <label>Password</label>
        <input type="password" name="password" class="form-control" ng-model="log.password" ng-minlength="3">
    </div>
    <label class="checkbox">
        <a href="#!/reg"> Sign Up</a>
    </label>


    <button ng-disabled="!log.email || !log.password" type="button" ng-click="signIn()" class="btn btn-lg btn-primary btn-block">Sign In</button>
</form>
</center>
<h3>{{mensaje}}</h3>

<a href="views/chat.html" class="btn btn-primary">Primary</a>
